.page--container {
  width: 280px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.page--container h1 {
  text-align: center;
  text-transform: uppercase;
}

.board {
  position: relative;
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

#game--board {
  width: 290px;
  height: auto;
  position: absolute;
  bottom: -16px;
  left: -8px;
  z-index: 20;
}

#game--board path {
  fill: green;
}

.cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  width: 40px;
  background: transparent;
  margin: -1px;
}

.disc, .discs {
  position: relative;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: gray;
}

.disc::after, .discs::after {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  background: blue;
  margin: 10%;
}

.player-one {
  background: #B11515;
}

.player-one::after {
  background: radial-gradient(50% 50% at 50% 50%, #D02727 81.77%, #980606 100%);
}

.player-two {
  background: #1815B1;
}

.player-two::after {
  background: radial-gradient(50% 50% at 50% 50%, #322EE3 81.77%, #09068E 100%);
}

.btn {
  width: 100px;
  height: 50px;
  margin: 0.25rem 0;
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
}

.arrow {
  height: 30px;
  width: 40px;
  padding-top: 5px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.arrow:hover {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.arrow:hover path {
  fill: #cccc37;
}

.arrow--holder {
  height: 50px;
  width: 40px;
}

#player--holder__p1, #player--holder__p2 {
  padding: 1rem;
}

#player--holder__p1.active, #player--holder__p2.active {
  border: 2px yellow solid;
}

.players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner {
  position: absolute;
  z-index: 40;
  top: 100px;
  left: -5%;
  width: 110%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  visibility: hidden;
}

.banner.visible {
  visibility: visible;
}

.banner h3 {
  text-align: center;
  font-size: 1rem;
  display: block;
  text-transform: uppercase;
}

.win {
  background: -webkit-gradient(linear, left top, left bottom, from(#979159), color-stop(9.38%, #D7C950), color-stop(39.58%, #F7E972), color-stop(59.38%, #F7E972), color-stop(93.23%, #B6AD62), to(#87814E)), -webkit-gradient(linear, left top, right top, from(rgba(165, 152, 40, 0.5)), color-stop(9.37%, rgba(215, 201, 80, 0.5)), color-stop(39.58%, rgba(247, 233, 114, 0.5)), color-stop(59.38%, rgba(247, 233, 114, 0.5)), color-stop(93.23%, rgba(182, 173, 98, 0.5)), to(rgba(154, 143, 46, 0.5)));
  background: linear-gradient(180deg, #979159 0%, #D7C950 9.38%, #F7E972 39.58%, #F7E972 59.38%, #B6AD62 93.23%, #87814E 100%), linear-gradient(90deg, rgba(165, 152, 40, 0.5) 0%, rgba(215, 201, 80, 0.5) 9.37%, rgba(247, 233, 114, 0.5) 39.58%, rgba(247, 233, 114, 0.5) 59.38%, rgba(182, 173, 98, 0.5) 93.23%, rgba(154, 143, 46, 0.5) 100%);
}

.lose {
  background: -webkit-gradient(linear, left top, left bottom, from(#97968D), color-stop(9.38%, #CDCCC5), color-stop(39.58%, #FAF8EB), color-stop(59.38%, #F9F7EC), color-stop(93.23%, #BDBCB7), to(#8E8D84));
  background: linear-gradient(180deg, #97968D 0%, #CDCCC5 9.38%, #FAF8EB 39.58%, #F9F7EC 59.38%, #BDBCB7 93.23%, #8E8D84 100%);
}

.player-one--welcome {
  background: -webkit-gradient(linear, left top, left bottom, from(#975D59), color-stop(9.38%, #D75050), color-stop(39.58%, #F77A72), color-stop(59.38%, #F77272), color-stop(93.23%, #B66762), to(#874E4E)), -webkit-gradient(linear, left top, right top, from(rgba(165, 40, 40, 0.5)), color-stop(9.37%, rgba(215, 97, 80, 0.5)), color-stop(39.58%, rgba(247, 122, 114, 0.5)), color-stop(59.38%, rgba(247, 138, 114, 0.5)), color-stop(93.23%, rgba(182, 113, 98, 0.5)), to(rgba(154, 59, 46, 0.5)));
  background: linear-gradient(180deg, #975D59 0%, #D75050 9.38%, #F77A72 39.58%, #F77272 59.38%, #B66762 93.23%, #874E4E 100%), linear-gradient(90deg, rgba(165, 40, 40, 0.5) 0%, rgba(215, 97, 80, 0.5) 9.37%, rgba(247, 122, 114, 0.5) 39.58%, rgba(247, 138, 114, 0.5) 59.38%, rgba(182, 113, 98, 0.5) 93.23%, rgba(154, 59, 46, 0.5) 100%);
}

.player-two--welcome {
  background: -webkit-gradient(linear, left top, left bottom, from(#596397), color-stop(9.38%, #5066D7), color-stop(39.58%, #727FF7), color-stop(59.37%, #728FF7), color-stop(93.23%, #6270B6), to(#4E5787));
  background: linear-gradient(180deg, #596397 0%, #5066D7 9.38%, #727FF7 39.58%, #728FF7 59.37%, #6270B6 93.23%, #4E5787 100%);
}

@media screen and (min-width: 768px) {
  .page--container {
    width: 700px;
  }
  .board {
    width: 756px;
  }
  #game--board {
    width: auto;
    bottom: -50px;
    left: -6px;
  }
  .cell {
    width: 100px;
    height: 100px;
  }
  .disc, .discs {
    height: 90px;
    width: 90px;
  }
  .arrows {
    height: 120px;
  }
  .arrow {
    height: inherit;
    width: inherit;
  }
  .arrow--holder {
    width: 100px;
    height: 70px;
  }
  .banner {
    top: 300px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  font-family: "Open Sans Condensed", sans-serif;
}
/*# sourceMappingURL=main.css.map */